body {

    margin-top: -25px;


background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)),url("/images/background2.jpg");
background-position: center center;
background-repeat: no-repeat;

background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  font-family: lato;
  -webkit-filter: saturate(2);
  filter: saturate(2);

}


@media (max-height: 500px) {
  #chart_div{
    height:300px;
  }

}
@media (max-height: 750px) {
  #chart_div{
    height:600px;
  }
}
@media (max-height: 1000px) {
  #chart_div{
    height:800px;
  }
}
@media (max-height: 1500px) {
  #chart_div{
    height:1000px;
  }
}
